argparse
BCEmbedding==0.1.5
beautifulsoup4
configparser
einops==0.8.0
elastic-transport==8.17.0
elasticsearch==8.12.0
fastapi==0.115.6
filelock
FlagEmbedding
langchain==0.3.11
langchain-community==0.3.11
langchain-core==0.3.31
langchain-text-splitters==0.3.5
loguru==0.7.3
jieba==0.42.1
numpy
pandas
pydantic
pymilvus==2.4.6
PyMuPDF==1.25.1
python-multipart
requests
sentence-transformers==3.0.1
textract==1.6.5
torch==2.1.0
typing-extensions
urllib3==2.2.1
uvicorn